<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <main>
      <!-- todo: give main default padding -->
      <header>
        <h1>This is co-author for open books</h1>
        <h3>
          The app that lets you write books, articles, documentation with others
          in real time!
        </h3>
        <!-- primary and secondary buttons -->
        <a href="{{ url_for('login') }}"><button>LogIn</button></a>
        <a href="{{ url_for('register') }}"><button>Register</button></a>
      </header>
      {% with messages = get_flashed_messages(with_categories = true) %} {% if
      messages %}
      <ul class="flash-messages">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </main>
  </body>
</html>
