<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <h1>Login</h1>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div>{{ form.penname.label }}</div>
        <div>{{ form.penname }}</div>
        <div>{{ form.password.label }}</div>
        <div>{{ form.password }}</div>
        <button type="submit">Login</button>
      </form>
      {% with messages = get_flashed_messages(with_categories = true) %} {% if
      messages %}
      <ul class="flash-messages">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </main>
  </body>
</html>
